body {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: auto;
    max-width: 700px;
    padding: 16px 48px 16px;
}

form {
    text-align: center;
}

h1 {
    border-bottom: 1px solid #ddd;
    color: #333;
    padding-bottom: 10px;
    text-align: center;
}

.smallp {
    font-size: 12px;
}

.special {
    color: #333;
}

/* Katharina Gees */